.App {
display: flex;
flex: 1;
flex-direction: row;
justify-content: space-around;
align-items: flex-start;
padding-top: 5%;
}

.answerBox {
  display: flex;
  flex-direction: column;
  flex: 0.1;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 3px 4px #e6e6e6;
  min-height: 476px;
}

.questionBox {
  position: relative;
display: flex;
flex:0.6;
flex-direction: column;
justify-content: center;
align-items: center;  
border: 1px solid black;
box-shadow: 3px 4px #e6e6e6;
min-height: 500px;
}

.quizNav{
  display: flex;
  width:70%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.submit{
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:10px;
  border: 1px solid black;
}